
  .navbar {
    height: 60px;
    width: 100%;
    position: relative;
    font-size: large;
    cursor: pointer;
    background-color: rgb(39, 38, 38);
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
  }
  .navbar  .logo{
    float: left;
  }


ul{
list-style: none;
}
.navlink {
  color: white;
  text-decoration: none;
}
  /* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Change to column layout */
    align-items: flex-start; /* Align items to the start */
  }

  .navbar .logo {
    text-align: center; /* Center logo on smaller screens */
  }

  ul {
    flex-direction: column; /* Change to column layout */
    gap: 10px; /* Reduce gap between items */
  }
}


